<template>
  <div>
    <div class="dropdown">
      <div class="dropdown-wrapper"  @click="showMenu = !showMenu">
        <img class="icon va-middle" :src="config.icon" alt="user">
        <span class="va-middle">{{ config.name }}</span>
        <img class="arrow va-middle" :class="{ rotated: showMenu }" src="~/assets/images/arrow-down-yellow.png" alt="arrow">
      </div>
        <div class="dropdown-menu" v-show="showMenu">
          <div class="dropdown-menu__item" v-for="option in config.options" :key="option.index">
            <nuxt-link :to="option.link">{{ option.name }}</nuxt-link>
          </div>
        </div>
    </div>

  </div>
</template>

<script>
export default {
  props: ['config'],
  data() {
    return {
      showMenu: false
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~/assets/scss/helpers/dropdown.scss";
</style>
