@font-face {
  font-family: 'Roboto Light';
  src: url('~/assets/fonts/Roboto-Light.eot');
  src: url('~/assets/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('~/assets/fonts/Roboto-Light.woff') format('woff'),
  url('~/assets/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Roboto Light', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding-top: 1rem;
}

input {
  outline: none;
}

.va-middle {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

.yellow {
  color: #FAD02C !important;
}

.note-block {
  padding: 5% 5%;
}
