.navbar {
  height: 100vh;
  width: 15%;
  background-color: #1a1a1a;
  color: white;
  font-size: 14px;

  &__wrapper {
    font-size: 16px;

    .search {
      padding: 0 5% 5% 5%;
      font-size: 14px;

      &__input {
        background-color: #FAD02C;
        height: 36px;
        width: 100%;
        line-height: 30px;
        font-size: 14px;
        box-sizing: border-box;
        padding: 0 12px 1px 18px;
        border-radius: 40px;
        border: none;
        color: black;

      }

      &__input::placeholder {
        color: black;
        opacity: 1;
      }

    }

    .navbar-item {
      padding: 10% 5%;
      display: block;

      .icon {
        margin-right: 0.3rem;
      }

      span {
        color: white;
      }
    }
  }

  .is-active {
    background-color: #40403c;
  }

}
