.note {
  width: 100%;

  .top-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .tags {
    display: flex;
    padding: 3%;

    &__tag {
      padding: 5px;
      margin-right: 5px;
      margin-left: 5px;
      border: 0.5px solid #e6e6e6;
      border-radius: 30px;
      font-size: 14px;
      color: gray;

      span {
        padding-right: 5px;
      }
    }
  }

  .updated {
    padding-left: 10px;
    padding-top: 3.6px;
    border-bottom: 1px solid #e6e6e6;
  }

  .note-item {

    &__wrapper {
      padding: 5%;

      .title {
        border-bottom: 1px solid #e6e6e6;
        font-size: 20px;
      }

      .text {
        padding-top: 20px;
        font-size: 24px;
      }
    }
  }
}

.delete-button {
  padding: 3%;

  img {
    cursor: pointer;
    margin-left: 15px;
  }

  .text {
    cursor: pointer;
  }
}

.delete-button__wrapper {
  display: flex;
  align-items: center;
}
