<template>
  <div class="note">
    <div class="top-wrapper">

      <div class="tags">
        <div class="tags__tag" v-for="tag in note.tags">
          <nuxt-link :to="`/tags/${tag.id}`">
            <img src="~/assets/images/tag-gray.png" alt="tags" class="va-middle">
            <span class="va-middle">
            {{ tag.name }}
            </span>
          </nuxt-link>
        </div>
      </div>
      <div class="delete-button">
<!--        <img src="~/assets/images/close.png" alt="" @click="deleteNote">-->
      </div>
    </div>

    <div class="updated">
      <span>Последнее обновление: {{ note.updated_at }}</span>
    </div>
    <div class="note-item">
      <div class="note-item__wrapper">
        <div class="title">
          <h1>{{ note.name }}</h1>
        </div>
        <div class="text">
          <p>
            {{ note.text }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      note: {},
    }
  },
  props:['selected'],
  methods: {
    async getNote() {
      await this.$axios.$get(`https://api.notes.a-lux.dev/api/notes/${this.selected}`)
        .then((res) => {
            this.note = res.note
            this.showLoader = false
          }
        );
    },
    deleteNote() {
      this.$axios.$delete(`https://api.notes.a-lux.dev/api/notes/${this.$route.params.id}`)
        .then((res) => {
            this.$router.go('/notes');
          }
        );
    }
  },
  created: function () {
    this.getNote()
  },
  watch: {
    selected: function () {
      this.getNote()
    }
  },
}
</script>

<style lang="scss">
@import "~/assets/scss/components/notes_id.scss";
</style>
